body{
    background-color: #1F2937;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}
.main-container1{
    background-color: #1F2937;
}
.top-line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33%;
    margin: 10px;
}
.text1{
    font-size: 22px;
    color: #f9faf8;
    font-weight: bold;
}
.url-links{
    display: flex;
}
.url-links div{
    font-size: 18px;
    color: #e5e7eb;
    margin: 5px;
}
.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.text h2{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
    margin-bottom: 0px;
}
.text p{
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0px;
}
.text button{
    background-color: #3883f2;
    border:none;
    border-radius: 8px;
    font-size: 18px;
    height: 40px;
    width: 150px;
    color: #f9faf8;
    cursor: pointer;
    font-weight: bold;
    margin-bottom:100px ;
}
.image{
    background-color: #6d747e;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    margin-bottom: 50px;
}
.main-container2{
    background-color: #ffffff;
}
.some-text p{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}
.image-container, .image-description,.blue-box-button, .footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container div{
    height: 160px;
    width: 160px;
    border: solid 4px #3883f2;
    border-radius: 13px;
    margin: 20px;
}
.image-description p{
    height: 150px;
    width: 150px;
    text-align: center;
    margin: 0 24px 24px 24px;
    color: #2e2e30;
}
.main-container3{
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#quote{
    width: 800px;
    font-style: italic;
    font-size: 36px;
    word-wrap: break-word;
    margin: 100px;
    text-align: justify;
    font-weight: 100;
    margin-bottom: 0;
}
#thor{
    font-size: 20px;
    font-weight: bold;
    font-style: none;
    text-align: right;
    margin-top: 0;
    margin-bottom: 100px;
    color: #2e2e30;
    width: 900px;
}
.main-container4{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-box{
    background-color: #3883f2;
    width: 1000px;
    margin: 70px;
    display: flex;
    gap: 30%;
    padding: 60px;
    border-radius: 10px;
}
.blue-box h4{
    color: #ffffff;
    margin-bottom: 0;
    font-size: 25px;
}
.blue-box p{
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0;
}
.blue-box-button button{
    font-size: 18px;
    color: #ffffff;
    border: solid 4px;
    border-radius: 10px; 
    width: 200px;
    padding: 10px;
    background-color: #3883f2;
    cursor: pointer;
}
.footer p{
    color: #ffffff;
    padding: 10px;
}
